{% extends "base.html.twig" %}

{% block title %}UnixPizza{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="terminal">
    <div class="terminal-header">
        <span class="terminal-title">UnixPizza: ~</span>
    </div>
    <div class="terminal-body">
        
    </div>
</div>

{% endblock %}