ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    background-color: #2e0031;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

li {
    padding: 10px 15px;
    border-bottom: 1px solid #f8f8f2;
    color: #f8f8f2;
    font-size: 16px;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #421532;
}