<div class="terminal-line" id="last">
    <span class="user">UnixPizza@{{ data.user_name }}</span>:<span class="path">~</span>$ 
    <input type="text" class="input" id="command-input" autofocus autocomplete="off">
</div>