<div class="terminal-line" id="last">
    <span class="user">{{ data.user_name }}@UnixPizza</span>:<span class="path">~</span>$ 
    <input type="text" class="input" autofocus autocomplete="off" maxlength="50">
</div>