<div class="terminal-line">
    <p>Welcome to the most convenient pizza ordering site</p>
    <p><span class="path">!Important: </span>in order to order pizza, you need to log in as a user</p>
    <br>
    <p><span class="view">Commands for authorization:</span></p>
    <ul>
        <li><span class="path">login</span> - login with your username and password</li>
        <li><span class="path">logout</span> - end the session and clear the page</li>
        <li><span class="path">register</span> - register a new account</li>
    </ul>
    <p><span class="view">Commands for working with the service:</span></p>
    <ul>
        <li><span class="path">ls</span> - display a list with information about all pizzas</li>
        <li><span class="path">add [pizza_name] [count]</span> - add <span class="path">[count]</span> pizzas <span class="path">[pizza_name]</span> to the cart</li>
        <li><span class="path">rm [pizza_name]</span> - remove pizza from the cart</li>
        <li><span class="path">cart</span> - display a list of all pizzas in the cart</li>
        <li><span class="path">buy</span> - place an order</li>
    </ul>
    {% if isAdmin %}
        <p><span class="view">Admin commands:</span></p>
        <ul>
            <li><span class="path">new</span> - add a new pizza to the catalog</li>
            <li><span class="path">del [-p]/[-u]/[-d] [id]</span> - permanently remove pizza, user or order from the database</li>
            <li><span class="path">uls</span> - display a list with information about all users</li>
            <li><span class="path">ols</span> - display a list with information about all orders</li>
        </ul>
    {% endif %}
</div>