<div class="terminal-line" id="last">
    {{ text }}: 
    {% if password %}
        <input type="text" class="input" autofocus autocomplete="off" maxlength="50">
    {% else %}
        <input type="password" class="input" autofocus autocomplete="off" maxlength="50">
    {% endif %}
    
</div>