<div class="terminal-line">
    <p>
        The site is specially tailored for use by hungry programmers. 
        There is no unnecessary interface, just everything you need. 
        Enter <span class="path">help</span> to learn the commands.
    </p>
</div>