<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            {% include 'contents/user_list_line.html.twig' with row %}
        {% endfor %}
    </tbody>
</table>